html,
body,
.intro {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 750px) {
  html,
  body,
  .intro {
    height: 830px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro {
    height: 830px;
  }
}

.gradient-custom {
  /* fallback for old browsers */
  background: rgba(17, 101, 48, 1);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(139, 195, 74, 1), rgba(75, 130, 13, 1), rgba(17, 101, 48, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(17, 101, 48, 1), rgba(75, 130, 13, 1), rgba(139, 195, 74, 1));  
}

.forgot{
    float: right;
}